@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
}

.body{
  text-align: center;
  background-color: #fff;
  font-family: 'Montserrat';
}

.container-fluid{
  padding-top:37px;
}

hr{
  height:1.5px;
  background-color: #000000;
}

.color{
  color: #000000;
}

/* Navigation Bar*/

.nav-item{
    font-size:21px;
    padding-left: 1%;
    font-weight: 500; 
}
  
.navbar-nav .nav-item :hover{
    color:#bd6418;
    transition: all 0.1s ease-in-out;
}
  
input[type='search']{
    font-size: 13px;
    font-weight:600;
}
  
input::placeholder{
    font-size: small;
    font-weight:600;
}
  
/* Title Section*/

.title{
    height: 400px;
    display: flex;
    position: relative;
}
  
.title::after{
    content: "";
    width: 80%;
    height: inherit;
    position: absolute;
    border-radius: 12px;
    background-image: url("../img/11.svg");
}

/* Blog Section*/

.blog{
    min-height: 33px;
}

.row{
    padding-top: 30px;
}
.content{
    text-align: left;
}

.icon{
    text-align: right;
}

i{
    padding-right: 15px;
}

/* Content Section*/

#read{
    padding: 37px 10% 0 10%;
}

.read{
    min-height: 500px;
    border-radius: 12px;
    background-color: rgb(248, 239, 239, 0.5);
}

h2{
    text-align: left;
    padding:20px 0 0 20px;
}

.row{
    padding-top: 20px;
}

.card-title{
    line-height: 30px;
    font-size: 15.1px;
    font-weight: 700;
}

.card-text{
    font-weight: 500;
}

.col-lg-4{
    text-align: -webkit-center;
}

/* Footer Section*/

.footer{
    min-height: 50px;
    background-color: #bd6418;
}
  
.footer p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 500;
}
  
span{
    text-decoration: underline;
}
  
.copyright{
    height: 18px;
}
  
.credit{
    font-size: 13px;
}